#mainTitle{
	text-align: center;
}
#breakOut{
	border: 5px solid black;
}
#breakOut:hover{
	cursor: pointer;
}
.subSection{
	margin: 0 auto 0 auto;
	width: 75%;
}
h4{
	text-align: center;
}
.container{
	background: linear-gradient(#E0E0F8, white);
}