.sectionDescription {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: 1%;
  text-align: center; }

#ajaxButton:hover {
  cursor: pointer; }

.mainHeader {
  vertical-align: middle;
  text-align: center;
  background-image: url("../images/paintBlotches.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "PTSansRegular",Arial,Helvetica,sans-serif;
  height: 150px;
  padding-top: 2%; }

.mainTitle {
  vertical-align: middle;
  font-size: 50;
  border: 5px solid white;
  width: 40%;
  height: 60%;
  margin: 0 auto 0 auto;
  background-color: #81F7F3;
  border-radius: 25px;
  background: linear-gradient(white, blue); }

.subTitle {
  margin: 0 auto 0 auto;
  width: 85%;
  font-weight: 700; }

#mainSection {
  margin: 0 auto 0 auto;
  background: linear-gradient(#E0E0F8, white); }

#googleHeader {
  margin: 0 auto 0 auto;
  width: 40%; }

.subBackGround {
  margin: 0 auto 0 auto;
  width: 45%;
  text-align: center; }

.centerP {
  margin: 0 auto 0 auto;
  width: 45%;
  text-align: center; }

body {
  font-family: "PTSansRegular",Arial,Helvetica,sans-serif; }

.row {
  margin-top: 5px;
  min-height: 100px; }

.paddingLeft {
  padding-left: 5%; }

.sectionHeader {
  font-size: 24px;
  font-weight: 800;
  font-family: Georgia,"Times New Roman",Times,serif; }

.sectionBody {
  font-family: Georgia,"Times New Roman",Times,serif; }

.mainFooter {
  background-color: #424242;
  height: 150px;
  margin-top: 2%; }

#filler {
  background-color: #819FF7;
  height: auto;
  min-height: 55px;
  padding-top: 1%; }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 50%; }
